@import './color.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.footer {
  border-top: 1px solid $font-color;
}

.btn,
.card-title {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn {
  background-color: $button-color;
  border: 1px solid $button-color;
  border-radius: 0px;
  color: $background-color;
}

.next_meeting {
  font-weight: 700;
  font-size: 1.6rem;
}

.contribute {
  background-color: green;
}

h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

h3::first-letter {
  font-size: 1.7rem;
}

.name {
  letter-spacing: 0px;
  font-size: 1rem;
  text-align: center;
}
